@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'CustomFont';
  src: url('../fonts/Quicksand-Bold.ttf') format('truetype'),
       url('../fonts/Quicksand-Light.ttf') format('truetype'),
       url('../fonts/Quicksand-Medium.ttf') format('truetype'),
       url('../fonts/Quicksand-Regular.ttf') format('truetype'),
       url('../fonts/Quicksand-SemiBold.ttf') format('truetype');
}

body {
  font-family: 'CustomFont', sans-serif;
  line-height: 1.5;
  font-weight: 300;
}


:root {
  font-family: 'CustomFont', sans-serif;
  line-height: 1.5;
  font-weight: 300;

  color-scheme: light dark;
  color: #38bcf9;
  background-color: #e1e1e1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  padding: 2rem;
  @font-face {
    font-family: 'CustomFont';
    src: url('public/fonts/Quicksand-Bold.ttf') format('ttf'),
         url('../public/fonts/Quicksand-Light.ttf') format('ttf'),
         url('../public/fonts/Quicksand-Medium.ttf') format('ttf'),
         url('../public/fonts/Quicksand-Regular.ttf') format('ttf'),
         url('../public/fonts/Quicksand-SemiBold.ttf') format('ttf'),
    /* Add additional font formats if necessary */
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 5.2em;
  line-height: 1.1;

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 5px auto;
  box-shadow: 10px #e1e1e1;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #0088ff;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.title{
  position: relative;
  font-size: 1.5rem;
}

/* If the screen size is 601px or more, set the font-size of <div> to 80px
@media only screen and (min-width: 601px) {
  div.example {
    font-size: 80px;
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
/* @media only screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
} */ 


.ball {
  /* animation: float 3.5s ease-in-out infinite; */
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;

  background: radial-gradient(
    circle at 75% 30%,
    white 5px,
    aqua 8%,
    rgb(45, 45, 255) 60%,
    aqua 100%
  );
  box-shadow: inset 0 0 20px #fff, inset 10px 0 46px #eaf5fc,
    inset 88px 0px 60px #c2d8fe, inset -20px -60px 100px #fde9ea,
    inset 0 50px 140px #fde9ea, 0 0 90px #fff;
}

.ball2 {
  /* animation: float 3.5s ease-in-out infinite; */
  height: 400px;
  width: 430px;
  border-radius: 50%;
  position: relative;

  background: radial-gradient(
  circle at 75% 30%,
  rgba(255, 255, 255, 0.5) 5px,
  rgba(0, 255, 255, 0.5) 8%,
  rgba(255, 255, 255, 0.5) 60%,
  rgba(0, 255, 255, 0.5) 100%
);

  box-shadow: inset 0 0 20px #fff, inset 10px 0 46px #eaf5fc,
    inset 88px 0px 60px #c2d8fe, inset -20px -60px 100px #fde9ea,
    inset 0 50px 140px #fde9ea, 0 0 90px #fff;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-40px);
  }
  100% {
    transform: translatey(0px);
  }
}

.shadow {
  background: #b490b2;
  width: 150px;
  height: 40px;
  top: 70%;
  animation: expand 4s infinite;
  position: absolute;
  border-radius: 50%;
}
@keyframes expand {
  0%,
  100% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1);
  }
}

@media only screen and (max-width:50px) {
  .ball {
    animation: float 4.5s ease-in-out infinite;
    height: 100px;
    width: 100px;

    background: radial-gradient(
      circle at 65% 35%,
      white 5px,
      aqua 15%,
      rgb(0, 72, 255) 50%,
      aqua 100%
    );
    box-shadow: inset 0 -20px 30px #fff, inset 40px 0 46px #eaf5fc,
      inset 58px 0px 60px #c2d8fe, inset -8px -30px 100px #fde9ea,
      inset 0 20px 110px #fde9ea, 0 0 90px #fff;
  }

  .shadow {
    width: 90px;
    height: 20px;
    top: 78%;
    animation: expand 5s infinite;
  }

  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-10px);
    }
    100% {
      transform: translatey(0px);
    }
  }
}
